search-item {
  display: block;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 60px;

  @media #{$large-mobile} {
    margin-top: 20px;
    padding: 0;
  }

  .item-wrapper {
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
    @include box-shadow(0px 2px 20px 0px rgba(0, 0, 0, 0.67));

    @media #{$large-mobile} {
      display: flex;
    }

    .cover-image-wrapper {
      width: 100%;
      height: 263px;
      position: relative;
      overflow: hidden;

      @media #{$large-mobile} {
        width: 80px;
        height: 80px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 15px;
        bottom: 15px;
        width: 25px;
        height: 25px;
        background: no-repeat center center;
        background-size: contain;
        @include transition-duration(0.3s);

        @media #{$large-mobile} {
          left: 8px;
          bottom: 8px;
          width: 15px;
          height: 15px;
        }
      }

      .cover-image {
        background: no-repeat center center;
        background-size: cover;
        width: inherit;
        height: inherit;
        @include transition-duration(0.5s);
      }

      .hover-container {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -60px;
        opacity: 0;
        @include transition-duration(0.5s);

        @media #{$large-mobile} {
          display: none;
        }

        .hover-image {
          width: 100%;
          height: 83px;
          background: url('/assets/images/Bitmap@2x.png') no-repeat center center;
          background-size: contain;
          margin-bottom: 20px;
        }

        .hover-text {
          text-align: center;
          font-size: 18px;
          color: white;
          font-family: 'Raleway-SemiBold';
          line-height: 18px;
        }
      }
    }

    .title {
      height: 65px;
      background-color: white;
      font-size: 18px;
      line-height: 65px;
      font-family: 'Raleway-SemiBold';
      padding: 0 20px;
      color: #383A49;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media #{$large-mobile} {
        height: 80px;
        line-height: 80px;
        width: calc(100% - 80px);
        box-sizing: border-box;
      }
    }

    &:hover .cover-image-wrapper {
      &::after {
        opacity: 0;

        @media #{$large-mobile} {
          opacity: 1;
        }
      }

      .cover-image {
        @include filter(blur(7px));
        transform: scale(1.05);

        @media #{$large-mobile} {
          @include filter(blur(0));
          transform: scale(1);
        }
      }

      .hover-container {
        opacity: 1;
      }
    }

    &.artist .cover-image-wrapper::after {
      background-image: url('/assets/images/artist-icon@2x.png');
    }

    &.album .cover-image-wrapper::after {
      background-image: url('/assets/images/album-icon@2x.png');
      width: 35px;
      height: 35px;
      left: 10px;
      bottom: 10px;

      @media #{$large-mobile} {
        width: 21px;
        height: 21px;
        left: 5px;
        bottom: 5px;
      }
    }
  }
}