// fonts declarations
@font-face {
  font-family: 'Raleway-SemiBold';
  src: url('/assets/fonts/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('/assets/fonts/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('/assets/fonts/Raleway-Regular.ttf');
}


// colors
$main-pink: #CE4284;
$button-color: #D05D84;
$highlight-row-color: #333441;
$separator-color: #F5F5F6;
$dark-text-color: #3A3B46;
$light-text-color: #6D6F7F;
$input-color: #7F6C6C;


// media queries
$mobile: "only screen and (max-width : 320px)";
$large-mobile: "only screen and (max-width : 425px)";
$tablet: "only screen and (max-width : 768px)";
$small-laptop: "only screen and (max-width : 1024px)";
$ie: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)";


// mixins
@mixin placeholder-color ($color) {
  &::-webkit-input-placeholder { /* Chrome */
    color: $color;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    opacity: 1;
  }
  &:-moz-placeholder { /* Firefox 4 - 18 */
    color: $color;
    opacity: 1;
  }
}

@mixin box-shadow ($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin transition-duration ($duration) {
  -webkit-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin filter ($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -o-filter: $filter;
  -ms-filter: $filter;
  filter: $filter;
}

@mixin ms-browser {
  @media #{$ie} {
    @content;
  }

  @supports (-ms-ime-align: auto) {
    @content;
  }
}